.btn-1 {
  border-radius: 10px;
  border: 1px solid lightblue;
}
.btn-1:hover {
  border-radius: 20px;
  border: 4px solid lightblue;
}
.input {
  border: 3px solid lightblue;
  border-radius: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
.App {
  text-align: center;
}
.head {
  margin-right: 20px;
  align-items: center;
  text-align: center;
}
