.Container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  width: 20%;
}

.Button {
  padding: 10px;
}

.btn-1 {
  border: 5px white;
  border-radius: 10px;
  padding: 10px;
}

.btn-2 {
  border: 5px;
  border-radius: 10px;
  padding: 10px;
}
